/*#region VARIABLES*/
:root {
  /********** COLORS **********/
  --c-black: #191919;
  --c-white: #fff;
  --c-brand: #62e6ac;
  --c-cta: #ff8c5f;
  --c-link: #1755b7;
  --c-error: #ff4d4d;
  --c-success: #75de50;

  /********** GRAYSCALES **********/
  --c-grayscale-300: #e3e3e3;
  --c-grayscale-400: #d2d2d2;
  --c-grayscale-600: #a3a3a3;
  --c-grayscale-800: #7d7d7d;

  /********** FONT FAMILY **********/
  --f-primary: 'Nunito Sans', sans-serif;
  --f-secondary: 'Josefin Sans';

  /********** FONT SIZE **********/
  --f-size-xs: 1.5rem;
  --f-size-s: 1.6rem;
  --f-size-m: 2rem;
  --f-size-l: 2.3rem;

  /********** LINE HEIGHT **********/
  --f-line-height: 1.34;

  /********** HEADING SIZE **********/
  --h1: 18.2rem;
  --h2: 10.1rem;
  --h3: 7.9rem;
  --h4: 4.7rem;
  --h5: 2rem;

  /********** HEADING LINE HEIGHT **********/
  --h1-line-height: 0.77;
  --h2-line-height: 1.06;
  --h3-line-height: 1.14;
  --h4-line-height: 1.25;
  --h5-line-height: 1.32;

  /********** SPACE **********/
  --space-xs: 0.8rem;
  --space-s: 1.6rem;
  --space-m: 2.4rem;
  --space-l: 3.2rem;
  --space-xl: 4rem;
  --space-xxl: 4.8rem;

  --sh: 1440px;
}
/*#endregion*/

/*#region BASE*/
* {
  font-family: var(--f-primary);
  font-size: var(--f-size-s);
}

body,
html,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*#endregion*/

/*#region FONT SIZE*/
.f-xs {
  font-size: var(--f-size-xs);
}
.f-s {
  font-size: var(--f-size-s);
}
.f-m {
  font-size: var(--f-size-m);
}
.f-l {
  font-size: var(--f-size-l);
}
/*#endregion*/

/*#region FONT WEIGHT*/
.f-300 {
  font-weight: 300;
}
.f-400 {
  font-weight: 400;
}
.f-700 {
  font-weight: 700;
}
.f-800 {
  font-weight: 800;
}
/*#endregion*/

/*#region HEADINGS*/
.h1,
h1 {
  font-size: var(--h1);
  line-height: var(--h1-line-height);
}

.h2,
h2 {
  font-size: var(--h2);
  line-height: var(--h2-line-height);
}

.h3,
h3 {
  font-size: var(--h3);
  line-height: var(--h3-line-height);
}

.h4,
h4 {
  font-size: var(--h4);
  line-height: var(--h4-line-height);
}

.h5,
h5 {
  font-size: var(--h5);
  line-height: var(--h5-line-height);
}
/*#endregion*/

/*#region FONT FAMILY*/
.f-f-primary {
  font-family: var(--f-primary);
}

.f-f-secondary {
  font-family: var(--f-secondary);
}
/*#endregion*/

.w-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
  touch-action: manipulation;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.fx {
  display: flex;
}

.fx-align-center {
  align-items: center;
}

.fx-direction-column {
  flex-direction: column;
}

.fx-content-space-between {
  justify-content: space-between;
}

/* path {
  transition: 1s ease all;
} */
