/*#region VARIABLES*/
/* :root {
  
  --c-black: #191919;
  --c-white: #fff;
  --c-brand: #62e6ac;
  --c-cta: #ff8c5f;
  --c-link: #1755b7;
  --c-error: #ff4d4d;
  --c-success: #75de50;

  --c-grayscale-300: #e3e3e3;
  --c-grayscale-400: #d2d2d2;
  --c-grayscale-600: #a3a3a3;
  --c-grayscale-800: #7d7d7d;

  --f-primary: 'Nunito Sans', sans-serif;
  --f-secondary: 'Josefin Sans';

  --f-size-xs: 1.5rem;
  --f-size-s: 1.6rem;
  --f-size-m: 2rem;
  --f-size-l: 2.3rem;

  --f-line-height: 1.34;

  --h1: 18.2rem;
  --h2: 10.1rem;
  --h3: 7.9rem;
  --h4: 4.7rem;
  --h5: 2rem;

  --h1-line-height: 0.77;
  --h2-line-height: 1.06;
  --h3-line-height: 1.14;
  --h4-line-height: 1.25;
  --h5-line-height: 1.32;

  --space-xs: 0.8rem;
  --space-s: 1.6rem;
  --space-m: 2.4rem;
  --space-l: 3.2rem;
  --space-xl: 4rem;
  --space-xxl: 4.8rem;

  --sh: 1440px;
} */
/*#endregion*/

/*#region BASE*/
* {
  font-family: var(--f-primary);
}

body,
html,
ul {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
  touch-action: manipulation;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.fx {
  display: flex;
}

.fx-center {
  align-items: center;
  justify-content: center;
}

.fx-align-center {
  align-items: center;
}

.fx-direction-column {
  flex-direction: column;
}

.fx-content-space-between {
  justify-content: space-between;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
